body {
    margin: 0;
}
.fondo {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #202124;
    font-size: 100%; font-family: arial,sans-serif; color: #b5b9be;
}
.columnas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    border: #ffffff solid 0.16em;
    width: 100%;
    height: 100%;
}
.encabezado{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 10%;
    width: 100%;
    border: #ffff00 solid 0.16em;
    color: beige;
}
.filaA {
    display: flex;
}
.left {
    display: flex;    
    border: #0077ff solid 0.16em;
    align-items: center;
    justify-content: start;
    width: 50%;
}
.sobregoogle{
    display: flex;
    align-items: center;
    height: 100%;
    width: 16.5%;
    justify-content: center;
    font-size: 80%; font-family: arial,sans-serif; color: #b5b9be;
}
.shop {
    display: flex;
    width: 4.725%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 80%; font-family: arial,sans-serif; color: #b5b9be;
}
.right {
    display: flex;    
    border: #0077ff solid 0.16em;
    align-items: center;
    justify-content: end;
    width: 50%;
}
.right1 {
    display: flex;
    width: 16.5%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: red solid 0.16em;
    font-size: 80%; font-family: arial,sans-serif; color: #b5b9be;
}
.central {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50em;
    width: 100%;
    border: #ffff00 solid 0.16em;
}
.pie {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    height: 7em;
    width: 100%;
    border: #ffff00 solid 0.16em;
}
